.carousel .carousel-slider{
    width: 100%;
}
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 300px;  /* change this to whatever you want */

}

.thumbs-wrapper {}

.control-arrow{
    background-color: aqua;
}

img {
    max-width: 100%;
    max-height: 100px;
}