
.hero{
  height: 91vh;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3rem;
  color: #FCFE19;
  text-shadow: 5px 5px 6px#a2a412;
  text-orientation: sideways;
  letter-spacing: 0.2rem;
  -webkit-text-orientation: sideways;
}
  
.background{
  height: 100%;
  width: 100vw;
}
.video{
margin-top: 90px;
margin-left: 40px;
width: 90%;
}

.video iframe{
border:none;
border-radius: 10px;
width: 100%;
height: 400px;
}