footer{
    background-color: #000;
    color: #fff;
    padding: 3rem 0;
}

.social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.5rem;
    margin-right: 5rem;
}
.social-media svg{
    width: 2rem;
    height: 2rem;
}