@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    --orange: #fb5607;
    --black: #130f40;
    --brown:#936639;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border:2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);

}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #fff;
}

section{
    padding: 2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btnn{
    margin-top: 1rem;
    display: inline-block;
    padding: .4rem 2rem;
    font-size: .7rem;
    border-radius: .5rem;
    border: .2rem solid #0C0F0A;
    color:#fff;
    cursor: pointer;
    background: #0C0F0A;
}

.btn:hover{
    background: #0C0F0A;
    color: #fff;
}

.btnn:hover{
    background: #0C0F0A;
    color: #fff;
}

.header{
    position: fixed;
    top: 0; left:0 ; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow) ;
}

nav .nav_brand a img{
    width: 100px;
}

.header .search-form{
    width: 90%;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: #0B162C;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: #130f40;
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: #0B162C;
    color: #fff;
}

.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(10%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: #0B162C;
}

.header .shopping-cart .box .content h3{
    color: #0C0F0A;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.btnnn{
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: .2rem solid #0C0F0A;
    color:#fff;
    cursor: pointer;
    background: #0C0F0A;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: center;
    color: #0C0F0A;
}

.header .shopping-cart .btnnn{
    display: block;
    text-align: center;
    margin: 1rem;
}


.header .search-form{
    position: absolute;
    top:110%; right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear ;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #0B162C;
    cursor: pointer;
}

.header .search-form label:hover{
    color: #0B162C;

}

.header .login-form{
    position: absolute;
    top:110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s initial;

}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form  .box{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    color: var(--orange);
    text-decoration: underline;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to top, rgba(38,38,38,0.4),rgba(38,38,38,0.4)) ,url(./image/nike.PNG) center/cover no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
}

.home .content{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}

.home .content h1{
    color: #ffff;
    font-size: 4.8rem;
    font-weight: bold;
    font-family: oswald;
    animation-name: moveInToLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
}

@keyframes moveInToLeft{
    0%{
        opacity: 0;
        transform: translate(-100px);
    }
    80%{
        transform: translate(20x);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.home .content p{
    color: #ffff;
    font-size: 3rem;
    font-weight: normal;
    font-family: playfair display;
    letter-spacing: 5px;
    animation-name: moveInToRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
    line-height: 1.8;
}

@keyframes moveInToRight{
    0%{
        opacity: 0;
        transform: translate(100px);
    }
    80%{
        transform: translate(-20x);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.home .content button{
    width: 13rem;
    height: 4rem;
    background: #fff;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.home .content button:hover{
    background: #adb5bd;
}

/* Section principale */

.main{
    margin: 20px;
    margin-top: 80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  /* Toutes les cartes */
  .cards{
    display:flex;
    flex-wrap:wrap;
  }
  .cards .card{
    margin-right: 20px;
    cursor:pointer;
  }
  .cards .card h4{
    font-size: 1.3rem;
  }
  .cards .card img{
    width: 350px;
  }
  .cards .card .card-header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .cards .card .card-body p{
    margin-top: -10px;
    line-height: 4;
  }

/* Video de présentation */
.main .video{
    margin-top: 80px;
    width: 90%;
  }
  .main .video iframe{
    border:none;
    border-radius: 10px;
    width: 100%;
    height: 400px;
  }

  /* Pied de page */
footer {
    margin-top: 100px;
    background-color: #0C0F0A;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  footer .social-media{
    display: flex;
  }
  footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align:center;
    width: 20px;
    cursor:pointer;
  }
  /* Fin du pied de page */
  
 












@media (max-width:991px){

    section{
        padding: 2rem;
    }
}
